@use '../../styles/variables.scss' as *;
@use '../../styles/responsive.scss' as *;

:global {
  .minimap-container-container {
    width: 100%;
    height: 274px;
  }

  p {
    margin-bottom: 0!important; // Override markdown padding
  }
}

.PanelShapefile {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  .headingBlocks {
    @include media-max("tablet") {
      gap: 18px!important;
    }
  }
}
