@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

.circularProgress {
  position: relative;
  width: 177px;
  height: 177px;

  svg {
    circle:first-child {
      stroke: var(--color-secondary);
    }
    circle:last-child {
      stroke: var(--color-primary);
    }
  }
  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    font-family: var(--main-font-semi-bold);
    color: #000;
  }
}
