@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;
$progressionToolbarHeight: 60px;

.header {
  position: fixed;
  background: #000;
  height: $headerHeight;
}

.closeButton {
  position: fixed;
  right: 0;
  top: 77px;
  z-index: 100;
}

.fullscreenComponent {
  position: fixed;
  top: $headerHeight;
  width: 100vw;
  height: calc(100vh - $headerHeight - $progressionToolbarHeight - 33px);
  padding: 32px 38px;
  overflow-y: auto;
}
