@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

$progressionToolbarHeight: 92px;

.progressionToolbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: $progressionToolbarHeight;
  width: 100vw;
  padding-left: 30px;
  padding-right: 20px;
  .buttonContainer {
    display: flex;
    gap: 20px;
  }
}

.progressionToolbarSteps {
  display: flex;
  gap: 10px;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: -30px; /* Place it 30px ABOVE the element */
    left: 0;
    width: 100%;
    height: 30px; /* Height of the gradient */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    pointer-events: none; /* Allows clicks to pass through */
  }

  .label {
    color: var(--color-accent);
    font-size: 22px;
    font-family: var(--main-font-semi-bold);
    font-size: 30px;
    margin-right: 24px;
  }

  .number {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font-bold);
    font-size: 20px;
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
    &:hover:not(.active) {
      cursor: pointer;
      background-color: var(--color-accent);
      border-color: var(--color-accent);
    }
    &.active {
      border-color: var(--color-accent);
      background-color: var(--color-accent);
      color: var(--color-light);
      pointer-events: none;
    }
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
