@use "./variables" as *;
.slidingTitle {
  position: relative;
  &::before {
    content: attr(data-title);
    position: absolute;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-light);
    background-color: var(--color-dark);
    white-space: nowrap;
    top: 50%;
    right: 0;
    padding: 3px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 3px;
    transform: translate(34px, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in, transform 0.3s ease-in;
  }
  &:hover {
    &::before {
      opacity: 1;
      transform: translate(-34px, -50%);
      transition: opacity 0.4s ease-out, transform 0.2s ease-out;
    }
  }
}
