@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

.LoginForm {
  background-image: url("/login-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
}

.disabled {
  * {
    pointer-events: none !important;
  }
}

.loginForm {
  position: relative;
  background: var(--color-light);
  width: 480px;
  border-radius: 5px;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 80px);
  max-height: calc(100dvh - 150px);
  overflow-y: auto;

  input {
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: var(--color-secondary);
    padding: 10px;
    height: 37px;

    &.username {
      margin-top: 28px;
    }

    &.password {
      margin-top: 5px;
    }
  }

  .passwordContainer {
    position: relative;
    .eye {
      position: absolute;
      top: 12px;
      right: 10px;
      svg {
        width: 18px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  button {
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    font-size: 13px;
    font-family: var(--main-font-semi-bold);
    margin-top: 30px;
    &:hover {
      background-color: var(--color-lightgold);
    }
  }
}

.title {
  font-family: var(--main-font-semi-bold);
  font-size: 22px;
  line-height: 26.63px;
}

.cartouche {
  font-size: 14px;
  margin-top: 22px;
  a {
    font-family: var(--main-font);
    font-size: 14px;
  }
}

.link {
  display: inline-block;
  font-size: 12px;
  font-family: var(--main-font-semi-bold);
  margin-top: 4px;
  border-bottom: none !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.loginError {
  color: red;
  position: absolute;
  transform: translateY(2px);
}

.accessInfos {
  text-align: center;
  margin-top: 27px;

  div {
    margin-top: 10px;
  }
}

.funderLogos {
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  img {
    justify-self: center !important;
  }
  @include media-max("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footerGradient {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.56) 30%, rgba(0, 0, 0, 0) 100%);
}
