.PhotoHeader {
  height: 274px;
  display: flex;
  .photo {
    flex: 1;
    flex-grow: 60;
    border: solid 1px black;
    overflow: hidden;
    img.NakaPhoto {
      display: block;
      max-width: 100%;
      max-height: 274px;
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .carousel {
      height: 100%;
    }
    .carousel-indicators {
      display: none;
    }
    .carousel-control-prev, .carousel-control-next {
      width: auto;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
      background-image: url(../../../public/icons/left-arrow.svg);
      background-size: 16px 16px;
    }
    .carousel-control-next-icon {
      transform: rotate(180deg);
    }
  }
  .photoDesc {
    flex: 1;
    flex-grow: 40;
    border: solid 1px black;
    padding: 1.5em;
    font-size: 12px;
  }

}
