@use "../../styles/variables" as *;

// KA Table base style overrides
$ka-row-border-size: 0;
$ka-thead-background-color: var(--color-light);

@import "ka-table/style.scss";

// Table header styling
.ka-thead-cell {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color);
  padding: 8px 20px 8px 0;
}

// Table cell styling
.ka-cell {
  padding: 8px 20px 8px 0;
  font-size: 12px;
}

// Alternating row colors
.ka-table tbody tr:nth-child(even) {
  background-color: var(--color-light);
}

.ka-table tbody tr:nth-child(odd) {
  background-color: var(--color-lightgrey);
}

// Sort icons styling
.ka-icon-sort-arrow-up, .ka-icon-sort-arrow-down {
  color: var(--color-primary)
}

// popup (search filters)
.ka-popup-content {
  .ka-header-filter-table {
    background-color: var(--color-moredark);
  }
  .ka-table tbody tr {
    background-color: transparent;
  }
  .ka-cell {
    color: var(--color-light);
  }
}

// Main component styling
.Index {
  // hack for the right scroll
  &.SubMainPanel {
    padding-right: 0; // override of SubMainPanel
  }

  // Search input styling
  .textSearch {
    position: absolute;
    top: 80px;
    left: -7px;

    svg {
      transform: scale(0.6);
    }

    input {
      flex: 0;
      background-color: var(--color-light);
      border: solid 1px black;
      padding: 5px;
    }
  }

  // Table container styling
  .ka {
    height: 100%;

    // hack for the right scroll
    .ka-table-wrapper {
      padding-right: 20px;
    }
  }

  .HeaderRightButtons {
    display: flex;
    align-items: end;
    margin-right: 130px;
    margin-top: 25px;
    * {
      margin-left: 8px;
    }
  }

  .SearchComponent {
    position: relative;
    input {
      padding-right: 40px;
      padding-left: 17px;
      height: 50px;
      border-radius: 4px;
      background-color: white;
      width: 290px;
    }
    svg {
      position: absolute;
      right: 8px;
      top: 5px;
      transform: scale(0.6);
    }
  }

}
