@use '../../styles/variables.scss' as *;
@use '../../styles/responsive.scss' as *;

.pagesProject {
  padding: 20px 32px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  .logos {
    margin-top: 40px;
  }
}
