.App {
  background: #222;
  color: white;
}

.Main {
  display: flex;
  flex-direction: row;
}

.SideMenuComponent {
  flex: 1;
  background-color: #888;
  color: white;
  height: 2000px;
}

.RightComponent {
  flex: 6;
}

.AdminPanel {
  display: flex;
  flex-direction: row;
}

.AkgPanel, .AkoPanel {
  flex: 1;
  padding: 1em;
}

.AkgPanel {
  border-right: solid #444 0.5px;
}
.AkoPanel {
  border-left: solid #444 0.5px;
}

.AkgPanel .list, .AkoPanel .list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.AkgPanel li, .AkoPanel li {
  display: flex;
  flex-direction: row;
}

.AkgPanel li:hover, .AkoPanel li:hover {
  background-color: #ccc;
}

.AkgPanel .title, .AkoPanel .title {
  flex: 1;
}

.ModalError, .ModalConfirm, .ModalWorking, .ModalDone {
  display: flex;
  flex-direction: row;
}
.ModalError p, .ModalConfirm p, .ModalWorking p, .ModalDone p {
  flex: 5;
  padding-left: 1em;
}

.ModalError {
  color: red;
}

.ModalConfirm {
  color: darkblue;
}

.ModalWorking {
  color: darkmagenta;
}

.ModalDone {
  color: darkgreen;
}

.ModalErrorIcon, .ModalConfirmIcon, .ModalWorkingIcon, .ModalDoneIcon {
  flex: 1;
  width: 10em;
  height: 5em;
}

.animatedrotation {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}
