.dropZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.withBorder {
    border: 4px dashed var(--color-secondary);
    border-radius: 5px;
    padding: 80px;
    width: 100%;
    max-width: 480px;
    min-width: 360px;
    height: 406px;
  }
  &.hasError {
    svg {
      color: var(--color-accent)
    }
  }
  &.noError {
    svg {
      color: var(--color-accent)
    }
  }
  &.dragActive {
    border-color: var(--color-accent);
  }
  button {
    display: block;
    border: 1px solid var(--text-color);
    min-width: 310px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 13px;
    font-family: var(--main-font-semi-bold);
    padding: 10px 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--color-primary);
    }
  }
  .uploadIcon {
    height: 65px;
    color: var(--color-primary);
  }
  .uploadErrorIcon {
    height: 65px;
    color: var(--color-accent);
  }
  .error {
    display: block;
    margin-top: 0px;
    color: red;
  }
}
