@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

:global {
  .minimap-container-container {
    width: 100%;
    height: 274px;
  }

  p {
    margin-bottom: 0 !important; // Override markdown padding
  }
}

.PanelDataset {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  .headingBlocks {
    @include media-max("tablet") {
      gap: 18px!important;
    }
  }
}
