@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

.checkList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 480px;
  min-width: 240px;
  gap: 18px;
  .item {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    font-size: 14px;
    width: 100%;
    padding-bottom: 18px;
    line-height: 17px;
    .label {
      max-width: 180px;
    }
    border-bottom: 1px solid #ccc;
    .number {
      display: flex;
      width: 22px;
      height: 22px;
      font-family: var(--main-font-bold);
      align-items: center;
      align-self: center;
      justify-content: center;
      &.accent {
        border-radius: 50%;
        background-color: var(--color-accent);
        color: var(--color-light);
      }
    }
  }
}
