@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

.componentHeader {
  position: absolute;
  top: 0;
  height: 140px;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.56) 30%,
    rgba(0, 0, 0, 0) 100%
  );

  a {
    display: block;
    font-size: var(--header-font-size);
    text-transform: uppercase;
    color: var(--color-light);
    font-weight: normal;
    font-family: var(--main-font-semi-bold);
    line-height: normal;
    font-size: 14px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
      svg {
        color: var(--color-primary);
      }
    }
  }

  .visibleOnPhoneOnly {
    display: none;
  }
  .visibleOnDesktopOnly {
    display: flex;
  }

  header {
    display: flex;
    height: $headerHeight;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px 0 31px;

    .arkeopenLogo {
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      img {
        height: 35px;
      }
    }

    .arkeogisLogo {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      height: 100%;
      align-items: center;
      img {
        height: 25px;
      }
    }

    .headerStats {
      transform: translate(20px, 1px);
    }

    .linksAndIcons {
      display: flex;
      align-items: center;
      transform: translateY(-3px);

      .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          position: relative;
          padding: 24px;
          transition: color 0.15s ease-out;
          &.active {
            color: var(--color-primary);
            transition: color 0.15s ease-in;
            &:after {
              position: absolute;
              content: "";
              width: calc(100% - 48px);
              border-bottom: 4px solid var(--color-primary);
              bottom: 6px;
              left: 24px;
            }
          }
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
        a {
          padding: 16px;
          pointer-events: all;
          transition: color 0.15s ease-out;
          &.active {
            color: var(--color-primary);
            transition: color 0.15s ease-in;
          }
        }
        .mobileSearch {
          transform: scale(0.5);
        }
      }
    }
  }
  a {
    pointer-events: auto;
  }
}

@include media-max("tablet") {
  .componentHeader {
    .visibleOnPhoneOnly {
      display: flex;
    }
    .visibleOnDesktopOnly {
      display: none !important;
    }
  }
}
