/* font sizes */
/* pop overs */
.popover .popover-header {
  padding: 1.1em 1.1em 0 1.1em;
  border: none;
}
.popover .popover-body {
  padding: 1.1em 1.1em 1.1em 1.1em;
}

/* media-min mixin for minimum-width breakpoints */
/* media-max mixin for maximum-width breakpoints */
/* media-between mixin for range-based media queries */
/* media mixin for targeting one specific breakpoint */
main.mirador1 > div > div.mirador-workspace-add {
  padding: 0;
}
main.mirador1 > div > div.mirador-workspace-add > button.mirador-add-resource-button {
  display: none !important;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  min-height: 100%;
  padding: 40px;
  background-color: #ffffff;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(307px, 1fr));
  justify-content: space-between;
  grid-gap: 40px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li {
  display: flex;
  border: 0;
  padding: 0;
  background: #ebebeb;
  border: solid 1px #ebebeb;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li:hover {
  border-color: #000;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item {
  display: grid;
  grid-template-areas: "top top" "logo caption";
  grid-template-rows: 267px 40px;
  padding: 0;
  margin: 0;
  height: 100%;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) {
  grid-area: top;
  width: 100%;
  min-width: 100%;
  padding: 0;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) button {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  min-width: 300px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) button > span:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  margin: 0;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) button > span:nth-of-type(1) > span:nth-of-type(1) {
  display: flex;
  flex: 1 1 100%;
  min-width: 100%;
  min-height: 207px;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  padding: 0;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) button > span:nth-of-type(1) > span:nth-of-type(1) img {
  object-fit: contain;
  width: 100%;
  height: 207px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) button > span:nth-of-type(1) > span:nth-of-type(2) {
  padding: 15px 20px 12px;
  min-width: 100%;
  min-height: 60px;
  max-height: 60px;
  background-color: #ffffff;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(1) button > span:nth-of-type(1) > span:nth-of-type(2) span {
  display: -webkit-box;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(2) {
  grid-area: caption;
  background: #ffffff;
  min-width: 100%;
  position: relative;
  padding: 0;
  padding-right: 20px;
  padding-top: 12px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(2) p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 100%;
  margin-top: -3px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(3) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  grid-area: logo;
  padding: 0;
  padding-left: 20px;
  background: #ffffff;
  min-width: 100%;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .mirador-manifest-list-item > div:nth-of-type(3) img {
  object-fit: contain;
  height: 23px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(1) > .MuiGrid-item {
  flex-basis: 100%;
  min-width: 100%;
}
@media screen and (max-width: 499px) {
  main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(1) > .MuiGrid-item {
    justify-content: center;
  }
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(1) > .MuiGrid-item > :nth-of-type(1) {
  max-width: 60px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(1) > .MuiGrid-item > :nth-of-type(2) {
  min-width: 247px;
  transform: translate(-10px, 2px);
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(1) > .MuiGrid-item > :nth-of-type(2) p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(1) > .MuiGrid-item > :nth-of-type(2) p:nth-of-type(2) {
  font-weight: bold;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(2) > .MuiGrid-item {
  justify-content: center;
  flex-basis: 100%;
  max-width: 100%;
  margin-top: 22px;
  justify-content: center;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(2) > .MuiGrid-item > .MuiGrid-root {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(2) > .MuiGrid-item > .MuiGrid-root > button {
  padding: 0 10px;
}
main.mirador1 > div > div.mirador-workspace-add > div.MuiPaper-root:not(.mirador-canvas-nav) > ul > li > .MuiGrid-root > .MuiGrid-root.MuiGrid-container:nth-of-type(2) > .MuiGrid-item > .MuiGrid-root > button > span {
  text-transform: none;
  line-height: 22px;
}

main.mirador1 > div > div.mirador-workspace-viewport > section.MuiPaper-root > div > header.MuiPaper-elevation4 {
  box-shadow: none;
}
main.mirador1 > div > div.mirador-workspace-viewport > section.MuiPaper-root > div > header.MuiPaper-elevation4 > nav > * {
  border: none;
}

/*# sourceMappingURL=arkeo-mirador.css.map */
