@use "../../styles/variables" as *;
@use "../../styles/responsive" as *;

$arrowSize: 10px;

.popoverWrapper {
  position: relative;
  display: inline-block;
}

.popover {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  background: var(--color-backgrey);
  color: var(--color-light);
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 3px;
  padding: 3px 8px;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.popoverArrow {
  position: absolute;
  width: $arrowSize;
  height: $arrowSize;
  background: var(--color-backgrey);
  transform: rotate(45deg);
}

.popoverContent {
  position: relative;
  z-index: 1;
}

// Position variants
.popoverTop {
  bottom: calc(100% + #{$arrowSize});
  left: 50%;
  transform: translateX(-50%);

  .popoverArrowTop {
    bottom: calc(-#{$arrowSize} / 2);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}

.popoverBottom {
  top: calc(100% + #{$arrowSize});
  left: 50%;
  transform: translateX(-50%);

  .popoverArrowBottom {
    top: calc(-#{$arrowSize} / 2);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;
  }
}

.popoverLeft {
  right: calc(100% + #{$arrowSize});
  top: 50%;
  transform: translateY(-50%);

  .popoverArrowLeft {
    right: calc(-#{$arrowSize} / 2);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-top-color: transparent;
    border-right-color: transparent;
  }
}

.popoverRight {
  left: calc(100% + #{$arrowSize});
  top: 50%;
  transform: translateY(-50%);

  .popoverArrowRight {
    left: calc(-#{$arrowSize} / 2);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
