@use "../../styles/variables.scss" as *;
@use "../../styles/responsive.scss" as *;

.Searchs {
  display: flex;
  flex-direction: column;
  height: 100%;

  .SearchForm {
    flex: 1;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    .SearchHeader {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .SaerchHeaderTitle {
        font-size: 22px;
        max-width: 150px;
        font-family: var(--main-font-semi-bold);
        line-height: 27px;
      }
      .SaerchHeaderButtons {
        text-align: right;
        display: none;
        button {
          border: none;
          background: none;
          font-size: 4em;
          color: var(--text-color);
          svg {
            vertical-align: top;
          }
        }
        @include media-max("tablet") {
          display: flex;
        }
      }
    }
    .SlidableTabs {
      margin: 46px 0 0 0;
    }
  }

  .SearchButtons {
    flex: 0 1;
    column-gap: 13px;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: horizontal;
    padding: 1.5em 2em;
    .SearchButton {
      flex: 1;
    }
    svg {
      vertical-align: middle;
      transform: scale(0.65);
    }
  }

  .SearchButtons:after {
    content: "";
    left: 0;
    right: 0;
    top: -19px;
    height: 19px;
    position: absolute;
    background: linear-gradient(0deg, #0000001a 0%, transparent 100%);
    pointer-events: none;
  }
}

.MySearchs {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10px;
}

.MySearch {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 25px;
  border-bottom: solid 1px #cccccc;

  .letterCol {
    position: relative;
    flex: 0 0;
    margin-right: 8px;
    background-image: url('data:image/svg+xml, <svg width="2" height="500" viewBox="0 0 1 500" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="500" stroke="%23BFA66A" stroke-width="2" stroke-dasharray="3 6" /></svg>');
    background-repeat: no-repeat;
    background-position: 50% 35px;
  }
  .RightBloc {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    .HeaderRow {
      flex: 1 0;
      display: flex;
      .title {
        flex: 1 0;
        font-size: 16px;
        font-weight: 700;
        margin-top: 5px;
        margin-left: 6px;
      }
      .buttons {
        flex: 0 0;
        display: flex;
        flex-direction: row;
      }
    }
    .SearchDetails {
      overflow-y: hidden;
      transition: max-height 0.4s ease-in-out;
      max-height: 2500px;
      &.hidding {
        max-height: 0;
      }
      .ButtonsRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 5px;
        padding-bottom: 15px;
        border-bottom: solid 1px #cccccc;
        button {
          padding-bottom: 5px;
          padding-left: 5px;
          padding-right: 5px;
        }
        .resultsCount {
          flex: 1;
          text-align: right;
          align-self: flex-end;
          font-size: 12px;
          .title {
            font-weight: 600;
          }
        }
      }
    }
    .databases {
      flex: 1 0;
      display: flex;
      flex-direction: column;
      .database {
        flex: 1 0;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        font-size: 14px;
        .showhide {
          flex: 0 0 35px;
        }
        .dbname {
          flex: 1;
        }
        .sitescount {
          flex: 0 0 60px;
          text-align: right;
        }
      }
    }
  }
  button {
    border: 0;
    background-color: transparent;
    transition: transform 0.2s linear;
    &.hidding {
      transform: rotate(-90deg);
    }
  }
}
