.SubMainPanel {
  position: absolute;
  z-index: 3;
  top: 77px;
  bottom: 0;
  padding: 0px 20px 10px 20px;
  background: white;
  .titleRow {
    height: 100px;
    margin-top: 25px;

    display: flex;
    align-items: start;
    h1 {
      flex: 1;
      margin-bottom: 10px;
    }
  }
  .SubMainPanelContent {
    height: calc(100% - 115px);
  }
}
