@use "../../styles/variables.scss" as *;

.GeoCoordinateForm {
  .row-latitude,
  .row-longitude {
    display: flex;
    .formDecimalLat,
    .formDecimalLon {
      flex: 45;
    }
    .ou {
      flex: 10;
      text-align: center;
    }
    .formDMSLat,
    .formDMSLon {
      flex: 45;
      .dms-row {
        display: flex;
      }
    }
  }
  .formDMSLat,
  .formDMSLon {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-8 {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .longitude-polarity,
  .latitude-polarity {
    margin-top: 5px;
    display: flex;
    & > div:nth-child(1) {
      flex: 45;
    }
    & > div:nth-child(2) {
      flex: 10;
    }
    & > div:nth-child(3) {
      flex: 45;
      display: flex;
    }
  }

  .exemple {
    font-size: 12px;
    color: var(--color-grey);
    .bold {
      font-weight: bold;
    }
  }

  .info {
    font-size: 12px;
    margin-top: 25px;
  }

  .form-label {
    margin-top: 15px;
  }

  margin: 20px auto;
}
