.FormZone {
  .zoneType {
    display: flex;
  }

  .ButtonIcon {
    position: relative;
    margin: 2px;
    padding: 0;
    border: none;
  }
  .ButtonIconSelected {
    position: absolute;
    top: 0;
    left: 0;
  }
  .GeoCoordinateContainer {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  .GeoCoordinateContainer.show {
    max-height: 500px; // Adjust this value based on the content size
  }
  .GeoCoordinateContainer.hide {
    max-height: 0;
  }
}
